@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans&display=swap');

body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

div,p,input,button,form,span,a,ul,li{
    box-sizing: border-box;

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p{
    line-height: 1.6em;
}


.container{
    width: 1178px;
    margin: 0 auto;
    
}



.header{
    background: rgba(138,65,241,1);
    background: -moz-linear-gradient(-45deg, rgba(138,65,241,1) 0%, rgba(138,65,241,1) 29%, rgba(123,23,238,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(138,65,241,1)), color-stop(29%, rgba(138,65,241,1)), color-stop(100%, rgba(123,23,238,1)));
    background: -webkit-linear-gradient(-45deg, rgba(138,65,241,1) 0%, rgba(138,65,241,1) 29%, rgba(123,23,238,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(138,65,241,1) 0%, rgba(138,65,241,1) 29%, rgba(123,23,238,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(138,65,241,1) 0%, rgba(138,65,241,1) 29%, rgba(123,23,238,1) 100%);
    background: linear-gradient(135deg, rgba(138,65,241,1) 0%, rgba(138,65,241,1) 29%, rgba(123,23,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a41f1', endColorstr='#7b17ee', GradientType=1 );
    padding-top: 100px;
    padding-bottom: 225px;
    color: #fff;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    
}
.offer{
    margin-top: 176px;
    width: 490px;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}
.intro{
    margin-top: 30px;
    margin-bottom: 37px;
    width: 370px;
    
}
.btn{
    background: orange;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    display: block;
    width: 205px;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: red;
}

.desktop{
    margin-top: 72px;
}






.section-title{
    font-size: 30px;
}

.learn{
    padding-top: 108px;
    padding-bottom: 120px;
}

.skills{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.skill{
    width: 350px;
    background: url(../img/icon1.png) no-repeat left top;
    padding-left: 100px;
}
.skill-title{
    font-size: 18px;
}
.skill-text{
    margin-top: 7px;
}
.skill-free{
    background: url(../img/icon2.png) no-repeat left top;
    width: 380px;
}
.skill-change{
    background: url(../img/icon3.png) no-repeat left top;
}







.mail{
    padding-top: 173px;
    padding-bottom: 193px;
    background: #efecf4;
}
.form{
    margin-top: 40px;
}
.input{
    width: 474px;
    border: 1px solid orange;
    border-radius: 100px;
    height: 54px;
    padding-left: 38px;
}
.btn-form{
    border: 0;
    cursor: pointer;
    display: inline;
    margin-left: 11px;
}








.footer{
    padding: 33px 0;
    background: #201b2d;
    
    
}
.credits{
    font-size: 14px;
    margin: 0;
    color: #fff;
}








/*RESPONCEBLE*/

@media screen and (max-width:1200px){
    .container{
        width: 960px;
    }
   
}

@media screen and (max-width:992px){
    .container{
        width: 720px;
    }
    .wrapper{
        flex-direction: column;
    }
    .offer{
        width: 100%;
        text-align: center;
        
    }
    .intro{
        width: auto;
    }
    .logo{
        margin-left: 50px;
    }
    .btn-1{
        margin: 0px auto;
        margin-top: 50px;
    }
    .skills{
        flex-direction: column;
    }
    .skill{
        width: auto;
        margin-bottom: 30px;
    }
    .btn-form{
        margin-left: 15px;
    }
    
}

@media screen and (max-width:768px){
    .container{
        width: 540px;
    }
    .btn-form{
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }
   .input{
       width: 100%;
   }
   .section-title{
       margin-left: 14px;
   }
  
    
}

@media screen and (max-width:576px){
    .container{
        width: 90%;
    }
    .logo{
        margin-left: 187px;
    }
    .title{
        text-align: left;
    }
    
}